body{
    margin: 0 auto;
    padding: 0;
background-color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
line-height: 1.5em;

}
#main-header {
	background: #333;
	color: white;
	height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}	
	#main-header a {
		color: white;
	}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #dadada;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #dadada;
                    color: black;
				}

h1{
    margin-top: 110px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
img{
    height: 600px;
}

.foto{
    text-align: center;
    
}

.niveles{
background-color: rgb(44, 44, 44);
height: 1800px;
margin-top: 30px;
}

.niveles h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
  
}
.habilidad img{
    margin-left: 15%;
    margin-top: 80px;
    height: 400px;
}
.habilidad h2{
    color: rgb(223, 223, 223);
    font-size: 60px;
    display: flex;
    float: right;
    margin-right: 30%;
    margin-top: 250px;
}
.habilidad2 img{
    margin-left: 18%;
    margin-top: 150px;
    height: 400px;
}
.habilidad2 h2{
    color: rgb(223, 223, 223);
    font-size: 60px;
    display: flex;
    float: right;
    margin-right: 30%;
    margin-top: 300px;
}
.habilidad3 img{
    margin-left: 17%;
    margin-top: 150px;
    height: 330px;
}
.habilidad3 h2{
    color: rgb(223, 223, 223);
    font-size: 60px;
    display: flex;
    float: right;
    margin-right: 30%;
    margin-top: 250px;
    margin-bottom: 80px;
}
footer{
    background-color: rgb(44, 44, 44);
    height: auto;
}
.align{
    text-align: center;
}
button{
    color: white;
    background-color: rgb(65, 65, 65);
    font-size: 30px;
font-family:'Open Sans', sans-serif; ;
    text-decoration: none;
    border-radius: 28px;
    padding: 10px;
    border-style: none;
}
button:hover{
    background-color: rgb(187, 187, 187);
    color: rgb(46, 46, 46);
}
#pie{
    background-color: rgb(170, 170, 170);
    margin: 0cm;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#pie a img{
    height: 40px;
  
}
a:link{
    text-decoration: none;
}
